*{
    margin: 0;
    padding: 0;
	font-family: 'Poppins', sans-serif;
}

.move{
	display: flex;
}
.item{
	flex-shrink:0;
	width: 100%;
	height: 40px;
	text-underline-position: -100%;
	margin: 0%;
	font-size: 80%;
	box-sizing: border-box;
	padding: 2px;
	text-align: center;
}
@keyframes tickerh{
	0%{transform: translate3d(100%,0,0);}
	100%{transform: translate3d(-400%,0,0);}
}
.move{
	animation: tickerh linear 15s infinite;
}
.move:hover{
	animation-play-state: paused;
}
.move{
	background-color: red;
	color: black;
	font-size: bold;
}
.wrap{
	background-color: firebrick;
	color: black;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(pictures/back%201.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
 .nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
	list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
     content: '';
     width: 0%;
     height: 3px;
     background-color: red;
     display: block;
     margin: auto;
     transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;  
    }
.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 ;
    font-size: 30px;
    color: black;
	text-align: center;
	
}
.text-box a{
	border-style: solid;
	border-left-width: 100%;
	border-right: 100%;
	border-color: red;
	font-weight: 400;
	color: black;
	font-weight: bold;
}
}
.hero-btn1{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px  solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn1:hover{
    border: 1px solid  #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
	display: none;
} 
@media(max-width: 700px){
    .text-box h1{
         font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #fff;
        height: 45%;
        width: 200px;
        top: 0;
        right: 100%;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
	nav .fa{
		display: block;
		color: black;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul{
		padding: 30px;
		
	}
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
    
h1{
    font-size: 36px;
    font-weight: 600;
	text-align: center
}

p{
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
	text-align: center;
}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.course-col{
flex-basis: 31%;
background-color: aqua;
border-radius: 10px;
margin-bottom: 30px;
padding: 20px 12px;
box-sizing: border-box;
transition: 0.5s;

}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0,2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}


/*------- campus -------*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    
}

.campus-col{
    flex-basis: 10%;
    border-radius: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
	width: 100%;
	display: block;
}
.layer{
	background-color: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
/!--------facilities------------*/
.facilities{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
/*------------ testimonals ----------*/
.testimonials{
	width: 80%;
	margin: auto;
	padding-top: 100px;
	text-align: center;
}
.testimonial-col{
	flex-basis: 44%;
	border-radius: 10px;
	margin-bottom: 5%;
    text-align: left;
	background-color: pink;
	padding: 25px;
	cursor: pointer;
	display: flex;
}
.testimonial-col img{
	height: 40px;
	margin-left: 5px;
	margin-right: 30px;
	border-radius: 50px;
}
.testimonial-col p{
	padding: 0;
}
.testimonial-col h3{
	margin-top: 15px;
	text-align: left;
}

.testimonial-col .fa{
	color: orangered;
}
@media(max-width: 700px){
   .testimonial-col img{
	  margin-left: 0px;
	  margin-right: 15px;

}
}
/*------- call to action------*/

.cta{
	margin: 50px auto;
	width:  100%;
	background-color: aquamarine;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;

}
.cta h1{
	color: black;
	margin-bottom: 40px;
	padding: 0;
}
@media(max-width: 700px){
	.cta h1{
		font-size: 24px;
	}
}
/*------footer-------*/

.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;

}
.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
    font-weight: 600;
	border-spacing: inherit;
	border-style: ridge;
	border-color: red;
}
.icons .fa{
	color: #f44336;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;	
}
.fa-heart-o{
	color: #f44336;
}

/*----------- about u page ---------*/

.sub-header{
    height: 30vh;
    width: 100%;
    background-image:  url(pictures/background2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    
}
.sub-header h1{
    margin-top: 0px;
}
.about-us{
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 40px;
}
.row h{
	text-align: center;
	font-weight: 800;
	border-bottom-style: dotted;
}
.about-col{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	flex-wrap: wrap;
	background: #fff;
	width: 94%;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0);
	margin: 0px auto;
}
.about-col2{
   flex-basis: 32.7%;
	margin-bottom: 6px;
	opacity: 0.85;
	cursor: pointer;
	padding: 10px;

	
}
.about-col2:hover{
	opacity: 1;
	
}
.about-col2 img{
	width: 100%;
	height: 100%;
	object-fit:cover; 
}
.about-col3 img{
	width: 250px; 
	

	
}

/* light box */
.lightbox{
	position: fixed;
	display: none;
	background-color: rgba(0,0,0,0,6);
	width: 100%;
	height: 100%;
	overflow: auto;
	top: 0;
	left: 0;	
}
.lightbox-content{
	position: relative;
	width: 65%;
	height: 58%;
	margin: 5% auto;
	
}
.lightbox-content img{
	width: 100%;
	height: 100%;
	border: 6px solid #fff;
	object-fit: cover;
}
.lightbox-prev,
.lightbox-next{
	position: absolute;
	background-color: rgba(0,0,0,0,8);
	color: #fff;
	padding: 9px;
	top: 45%;
	cursor: pointer;
}





.hero-btn{
    border: 1px solid #f44336;
	background: transparent;
	color: #f44336;
}
.red-btn:hover{
     color: #f44336;
}
/*-----facilities----*/
}
.facilities-col{
	flex-basis: 65%;
}
.facilities-col img{
	width: 100%;
}
.facilities-col h3{
	color: #222;
	font-weight: 900;
	margin: 30px 0;
	text-align: center;
}
.facilities-col p{
	text-align: center;
	color: black;
}
.facilities-col2{
	flex-basis: 65%;
}
.facilities-col2 img{
	width: 100%;
}
.facilities-col2 h5{
	color: #222;
	font-weight: 900;
	margin: 30px 0;
	text-align: center;
}
.facilities-col2 p{
	text-align: center;
	color: black;
}

/*-------blog content--------*/
.blog-content{
	width: 80%;
	margin: auto;
	padding: 60px 0;
}
.blog-left{
	flex-basis: 65%;
}
.blog-left img{
	width: 100%;
}
.blog-left h2{
	color: #222;
	font-weight: 600;
	margin: 30px 0;
}
.blog-left p{
	color: #999;
	padding: 0;
}
.blog-right{
	flex-basis: 65%;
	
}
.blog-right img{
	width: 100%;
}
.blog-right p{
	font-weight: 800;
	border-style: groove;
}
.front img{
	width: 100%;
	flex-basis: 80%;
	cursor: pointer;
	
}
.blog-right h7{
	font-size: 100%;
	border-bottom-style: solid;
	border-color: red;
}
.front p{
	border-style: groove;
}
.comment-box{
	border: 1px solid #ccc;
	margin: 50px 0;
	padding: 10px 20px;
}
.comment-box h3{
	text-align: left;
}
.comment-form input, .comment-form textarea{
	width: 100%;
	padding: 10px;
	margin:15px 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	background: #f0f0f0;
	
}
.comment-form button{
	margin: 10px 0;
}
@media(max-width:700px){
	.sub-header h1{
		font-size: 24px;
	}
}





/*---------content us page--------*/

.location{
    width: 80%;
	margin: auto;
	padding: 80px 0;
}
.location iframe{
	width: 100%;
}
.contact-us{
	width: 80%;
	margin: auto;
	
}
.contact-col{
	flex-basis: 48%;
	margin-bottom: 30px;
}
.contact-col div{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	
}
.contact-col div .fa{
	font-size: 28px;
	color:#f44336;
	margin: 10px;
	margin-right: 30px;
}
.contact-col div p{
	padding: 0;
}
.contact-col div h5{
	font-size: 20px;
	margin-bottom: 5px;
	color: #555;
	font-weight: 400;
}
.contact-col input, .contact-col textarea{
	width: 100%;
	padding: 15px;
	margin-bottom: 17px;
	outline: none;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
body{
	background: #fff;
}
.about-col{
	width: 900px;
	display: flex;
}
.about div{
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
	padding: 10px;
}
.about div img{
	width: 100%;
}
.details h6{
	font-weight: 800;
	text-align: start;
}
.details2 h7{
	font-weight: 800;
	border-bottom-style: solid;

}
.details2 h8{
	font-weight: 800;
	border-bottom-style: solid;
	

	text-align: center;
	
}
.details2 img{
  width: 100%;
	flex-basis: 65%;

}
.school h9{
	font-weight: bold;
	border-style: double;
	text-align: center;
	
}
.school img{
	width: 100%;
	flex-basis: 65%;
}
.footer2{
	width: 100%;
	text-align: center;
	padding: 30px 0;
	border-style: double;

}
.footer2 h9{
	margin-bottom: 25px;
	margin-top: 20px;
    font-weight: 600;
	border-spacing: inherit;
	border-style: solid;
	border-color: red;

}
.social .fa{
	color: #f44336;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
	align-items: center;
	border-bottom-color: red;
}
.social{
	border-color: red;
	text-align: center;
	resize: both;
}
#head{
	width: 100%;
	height:100vh;
	background-color: white;
	background-position: center;
	
}
.detail{
	margin-top: 20%;
	font-size: 30px;
}
.detail h10{
	font-size: 30px;
	margin-top: 20px;
	
}
.detail h10 span1{
	color: #ff004f;
}
.detail p{
	font-size: bold;
	text-align: start;
}
/*---------abou---------*/
#abou{
	padding: 80px 0;
	color: #ababab;
}
.row3{
	display: flex;
}
.abou-col2{
	flex-basis: 35%;
}
.abou-col2 img{
	width: 100%;
	border-radius: 15px;
	background-color: white;
	border-style: solid;
	color: black;
}
.abou-col3{
	flex-basis: 60%;
	
}
.abou-col3{
	background-color: paleturquoise;
	border-right: solid;
	border-bottom: solid;
	
	color: black;
}
.sub2{
	font-size: 20px;
	font-weight: 300;
	color: white;
}
.abou-col3 p{
	font-size: 10px;
	font-weight: 100;
	font-weight: bold;
}
.detail img{
	width: 250px;
	border-radius: 30px;
	align-content: center;
}
.detail{
	background-color: 
}
.head{
	height: 100vh;
	width: 100%;
	background-color: white;
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.content{
	position: absolute;
	text-align: center;
	transform: translate
}
.content img{

	width: 50%;
	height: 250px;
	
}
h11{
	margin: 20px 0px 20px;
	font-size: 65px;
	color: red;
	font-size: bold;
	
}
h13{
	font-size: 15px;
	margin-bottom: 50px;
}
h14{
	letter-spacing: 2px;
	font-size: 15px;
}
span2{
	font-size: 25px;
	font-size: bold;
	font-style: italic;
	text-decoration: line-through;
}
.newsletter form{
	width: 65%;
	max-width: 100%;
	position: relative;
	
}
.newsletter form input:first-child{
	display: inline-block;
	width: 65%;
	padding: 14px 130px 14px 15px; 

	border: 2px solid #f9004d;
	
}
.newsletter form input:last-child{
	position: absolute;
    align-content: center;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #f9004d;
	
	background-color: 
}
.abo{
	width: 600px;
	margin-top: 90px;
	
	background-color: #191919;
	
}
.abo img{
	height: 40%;
	width: 40%;
	position: absolute;
}
.abo-text{
	width: 100%;
	padding: 30px 60px;
	margin-top:50px;
	
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.abo-text h16{
	color: white;
	font-size: 25px;
	text-transform: capitalize;
	margin-bottom: 15px;
}
.abo-text h17{
	color: white;
	font-size: 15px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.abo-text p{
	color: antiquewhite;


	text-decoration-style: solid;
	text-indent: 30px;
	text-transform: uppercase;

}
 .abo button{
	border-style: solid;
	 align-items: center;
	 background-color: red;
	 border-radius: 30px;
	 font-weight: bold;
	 font-size: 20px;
}
.abo-text span{
	color: red;
}
button:hover{
	background-color: transparent;
	border: 2px solid red;
	cursor: pointer;
}
.social4 .fa{
		color: #f44336;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
	align-items: center;
	border-bottom-color: red;
	font-size: 30px;
}
.social4{
		border-color: red;
	text-align: center;
	resize: both;
}
span2{
	color: black;
	margin-top: 10px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
h18{
	font-weight: bold;
	color: red;
	align-items: center;
	border-bottom-style: ridge;
	margin: 15px;
	margin-bottom: 30px;
}
h20 {
	font-weight: bold;
	margin-bottom: 20px;
	border-top: solid;
	
}
.content p{
	margin-top: 20px;
	border-bottom: solid;
	font-weight: 400;
}
.content p1{
	color: mediumvioletred;
}